@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* 전체 태그에 적용 */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background-image: url('https://images.unsplash.com/photo-1574629810360-7efbbe195018?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c29jY2VyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* 현재 태그의 가로 세로 길이 */
  height: 100vh; /* 100% 높이 */
  width: 100vw; /* 100% 너비 */
  filter: blur(0px); /* 0~30% */
  position: absolute; /* absolute는 위로 뜬 상태, 기준이 없을 경우 화면이 기준이 된다 */
  top: 0;
  left: 0;
  z-index: -1;
}

.loading-text {
  color: white;
  font-size: 50px;
}
